@model db_proyecto.Models.usuario

@{
    ViewBag.Title = "Details";
    var nombreUsuario = Model.nombre;
}

<h2>Detalles del Usuario: @nombreUsuario</h2>

<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre usuario
        </dt>

        <dd>
            Nombre Usuario
        </dd>

        <dt>
            Apellido Usuario
        </dt>

        <dd>
            Fecha de Nacimiento
        </dd>

        <dt>
            Correo Usuario
        </dt>

        <dd>
            Contraseña Usuario
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar el usuario " + nombreUsuario, "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar ala lista ", "Index")
</p>
