@model IEnumerable<db_proyecto.Models.producto_imagen>

@{
    ViewBag.Title = "index";
}

<h2>Todos los productos</h2>

<p>
    @Html.ActionLink("Crear nuevo Producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Imagen
        </th>

        <th>
            ID Producto
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.imagen)
            </td>
            <td>
                @db_proyecto.Controllers.ProductoimagenController.Nombreproducto(item.id_producto)
            </td>


            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Ver", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>


@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿ Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })
    </script>
}